<div class="container">
    <h1>Update Product</h1>
    <hr>
    {{#if data}}
    <form method="POST" action="/put-product">

        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text">ID: </span>
            </div>
            <input type="text" class="form-control" name="id" value='{{data.id}}' readonly>
        </div>

        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Name: </span>
            </div>
            <input type="text" class="form-control" name="name" value='{{data.name}}' required>
        </div>

        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Category: </span>
            </div>
            <input type="text" class="form-control" name="name" value='{{data.category}}' required disabled>
        </div>

        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Description: </span>
            </div>
            <input type="text" class="form-control" name="description" value='{{data.description}}' required>
        </div>

        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Image Link: </span>
            </div>
            <input type="text" class="form-control" name="img" value='{{data.imgLink}}' required>
        </div>

        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Price: </span>
            </div>
            <input type="number" class="form-control" name="price" value={{data.price}} required>
        </div>

        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Quantity: </span>
            </div>
            <input type="number" class="form-control" name="quantity" value={{data.quantity}} required>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-danger" href="/">Cancel</a>
    </form>
    {{else}}
    <h1>Sometimes went wrong</h1>
    {{/if}}
</div>